.orders-toolbar {
  margin-bottom: 1rem;
}

.orders-table {
  border: 1px solid #e5e7eb;
}

.order-details {
  margin-right: 2rem;
}

th.row-dropdown {
  width: 5rem;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 0.7rem;
}
