<div class="orders-toolbar">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <p-button
        severity="success"
        label="New Order"
        icon="pi pi-plus"
        (click)="openNew()"
      />
    </div>
    <div class="p-toolbar-group-center">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          placeholder="Search orders"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
        />
      </span>
    </div>
    <div class="p-toolbar-group-end">
      <p-button
        label="Edit Order"
        icon="pi pi-pencil"
        [disabled]="editButtonDisabled"
        (click)="openEdit()"
      />
    </div>
  </p-toolbar>
</div>
<div class="orders-table">
  <p-table
    #dt
    [value]="orderList"
    dataKey="id"
    [expandedRowKeys]="expandedRows"
    [globalFilterFields]="['id', 'customer', 'school', 'assignedToNamesConcat']"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [resizableColumns]="true"
    selectionMode="single"
    [(selection)]="selectedOrder"
    metaKeySelection="false"
    (onRowSelect)="handleRowSelect()"
    (onRowUnselect)="handleRowUnselect()"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="row-dropdown"></th>
        <th pSortableColumn="dueOn">
          Deadline
          <p-sortIcon field="dueOn" />
        </th>
        <th pSortableColumn="customer">
          Customer
          <p-sortIcon field="customer" />
        </th>
        <th pSortableColumn="school">
          School
          <p-sortIcon field="school" />
        </th>
        <th pSortableColumn="status">
          Status
          <p-sortIcon field="status" />
        </th>
        <th>Assigned To</th>
        <th pSortableColumn="price">
          Price
          <p-sortIcon field="price" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order let-expanded="expanded">
      <tr [pSelectableRow]="order">
        <td>
          <p-button
            type="button"
            [pRowToggler]="order"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td>{{ order.dueOn | date: "MM/dd/yyyy" }}</td>
        <td>{{ order.customer }}</td>
        <td>{{ order.school }}</td>
        <td>
          <p-tag
            [value]="order.status"
            [severity]="getSeverity(order.status)"
          />
        </td>
        <td>{{ order.assignedTo[0].name }}</td>
        <td>{{ order.price | currency: "USD" }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-order>
      <tr>
        <td colspan="7">
          <div style="margin: 0.75rem">
            <span class="order-details">
              <strong>Order created on:</strong>
              {{ order.createdOn | date: "longDate" }}
            </span>
            <span class="order-details">
              <strong>Order updated on:</strong>
              {{ order.updatedOn | date: "longDate" }}
            </span>
            <div style="margin-top: 1rem">
              <strong>Description:</strong> {{ order.description }}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="7">
          <div class="p-0">
            <p-table [value]="order.products" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th class="row-dropdown"></th>
                  <th>Product ID</th>
                  <th>Name</th>
                  <th># Needed</th>
                  <th># In Stock</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <th class="row-dropdown"></th>
                  <td>{{ product.id }}</td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.selectedQuantity }}</td>
                  <td>
                    {{ getStockCount(product) }}
                    @if (isEnoughStock(product)) {
                      <i
                        class="pi pi-check-circle"
                        style="color: green; margin-left: 0.5rem"
                      ></i>
                    } @else {
                      <i
                        class="pi pi-times-circle"
                        style="color: red; margin-left: 0.5rem"
                      ></i>
                    }
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">
                    There are no products associated with this order.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <app-order-dialog
    [showDialog]="showOrderDialog"
    [order]="activeOrder"
    [orderStatuses]="orderStatuses"
    [isEditing]="isEditing"
    (closeDialogEvent)="closeOrderDialog()"
    (saveNewOrderEvent)="saveNewOrder($event)"
    (saveEditOrderEvent)="saveEditOrder($event)"
  >
  </app-order-dialog>
</div>
