<div class="orders-table" xmlns="http://www.w3.org/1999/html">
  <p-table [value]="ordersList" dataKey="id" [expandedRowKeys]="expandedRows"
           [globalFilterFields]="['id', 'customer', 'school', 'status']"
           [paginator]="true"
           [rows]="10"
           [rowsPerPageOptions]="[10, 25, 50]"
           [resizableColumns]="true">
    <ng-template pTemplate="header">
      <tr>
        <th class="row-dropdown"></th>
        <th pSortableColumn="id">
          Order ID
          <p-sortIcon field="id"/>
        </th>
        <th pSortableColumn="customer">
          Customer
          <p-sortIcon field="customer"/>
        </th>
        <th pSortableColumn="school">
          School
          <p-sortIcon field="school"/>
        </th>
        <th pSortableColumn="status">
          Status
          <p-sortIcon field="status"/>
        </th>
        <th pSortableColumn="price">
          Price
          <p-sortIcon field="price"/>
        </th>
      </tr>
      <tr>
        <th class="row-dropdown"></th>
        <th>
          <p-columnFilter type="numeric" field="id" placeholder="Search by ID" ariaLabel="Filter ID"/>
        </th>
        <th>
          <p-columnFilter type="text" field="customer" placeholder="Search by customer" ariaLabel="Filter Customer"/>
        </th>
        <th>
          <p-columnFilter type="text" field="school" placeholder="Search by school" ariaLabel="Filter School"/>
        </th>
        <th>
          <p-columnFilter type="text" field="status" placeholder="Search by status" ariaLabel="Filter Status"/>
        </th>
        <th>
          <p-columnFilter type="numeric" field="price" placeholder="Search by price" ariaLabel="Filter Price"/>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order let-expanded="expanded">
      <tr>
        <td>
          <p-button type="button" [pRowToggler]="order" [text]="true" [rounded]="true" [plain]="true"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"/>
        </td>
        <td>{{ order.id }}</td>
        <td>{{ order.customer }}</td>
        <td>{{ order.school }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.price | currency:"USD" }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-order>
      <tr>
        <td colspan="6">
          <div style="margin: 0.75rem">
            <span class="order-details">
              <strong>Order created on:</strong> {{ order.createdOn | date:'longDate' }}
            </span>
            <span class="order-details">
              <strong>Order updated on:</strong> {{ order.updatedOn | date:'longDate' }}
            </span>
            <div style="margin-top: 1rem">
              <strong>Description:</strong> {{ order.description }}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <div class="p-0">
            <p-table [value]="order.products" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th class="row-dropdown"></th>
                  <th>Product ID</th>
                  <th>Name</th>
                  <th># Needed</th>
                  <th># In Stock</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <th class="row-dropdown"></th>
                  <td>{{ product.id }}</td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.quantity }}</td>
                  <td>
                    {{ getStockCount(product) }}
                    @if (isEnoughStock(product)) {
                      <i class="pi pi-check-circle" style="color: green; margin-left: 0.5rem"></i>
                    } @else {
                      <i class="pi pi-times-circle" style="color: red; margin-left: 0.5rem"></i>
                    }
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">There are no products associated with this order.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog header="Create New Order"
            [(visible)]="showOrderDialog" [modal]="true" [style]="{ width: '550px' }">
    <ng-template pTemplate="content">
      <div class="field">
        <label for="customer">Customer</label>
        <input type="text" pInputText id="customer" [(ngModel)]="newOrder.customer">
      </div>
      <div class="field">
        <label for="school">School</label>
        <input type="text" pInputText id="school" [(ngModel)]="newOrder.school">
      </div>
      <div class="field">
        <label for="description">Description</label>
        <textarea id="description" pInputTextarea rows="5" [(ngModel)]="newOrder.description"></textarea>
      </div>
      <div class="field">
        <label for="status">Status</label>
        <p-dropdown id="status" [options]="orderStatuses" placeholder="Select a Status" [(ngModel)]="newOrder.status"/>
      </div>
      <div class="field">
        <label for="price">Price</label>
        <p-inputNumber id="price" mode="currency" currency="USD" locale="en-US" [(ngModel)]="newOrder.price"/>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button label="Cancel" icon="pi pi-times"/>
      <p-button label="Save" icon="pi pi-check" (onClick)="saveOrder()"/>
    </ng-template>
  </p-dialog>
</div>
