<p-dialog header="Create New Order"
          [(visible)]="showDialog" [modal]="true" [style]="{ width: '80%' }" (onShow)="this.currentPage = 1">
  <ng-template pTemplate="content">
    @if (currentPage === 1) {
      <div class="field">
        <label for="customer">Customer</label>
        <input type="text" pInputText id="customer" [(ngModel)]="order.customer">
      </div>
      <div class="field">
        <label for="school">School</label>
        <input type="text" pInputText id="school" [(ngModel)]="order.school">
      </div>
      <div class="field">
        <label for="description">Description</label>
        <textarea id="description" pInputTextarea rows="5" [(ngModel)]="order.description"></textarea>
      </div>
      <div class="field">
        <label for="status">Status</label>
        <p-dropdown id="status" [options]="orderStatuses" placeholder="Select a Status" [(ngModel)]="order.status"/>
      </div>
      <div class="field">
        <label for="price">Price</label>
        <p-inputNumber id="price" mode="currency" currency="USD" locale="en-US" [(ngModel)]="order.price"/>
      </div>
    } @else if (currentPage === 2) {
      <div class="field">
        <p-treeTable>

        </p-treeTable>
      </div>
      <div class="field">
        <p-pickList
          [source]="inventory"
          [target]="order.products"
          sourceHeader="Current Stock"
          targetHeader="Selected Inventory"
          [dragdrop]="true"
          filterBy="name"
          sourceFilterPlaceholder="Search by name"
          targetFilterPlaceholder="Search by name">
          <ng-template let-product pTemplate="item">
            <div class="picklist-item">
              <span>
                <strong>{{ product.name }}</strong>
              </span>
              <span>{{ product.quantity }}</span>
            </div>
          </ng-template>
        </p-pickList>
      </div>
    }
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button label="Cancel" icon="pi pi-times" (onClick)="closeDialog()"/>
    @if (currentPage === 1) {
      <p-button label="Next" icon="pi pi-arrow-right" (onClick)="goToNextPage()"/>
    } @else {
      <p-button label="Save" icon="pi pi-check" (onClick)="saveNewOrder()"/>
    }
  </ng-template>
</p-dialog>
