.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  > label {
    margin-bottom: 0.5rem;
  }
}

::ng-deep .p-steps {
  padding-bottom: 2rem;
}

::ng-deep .p-picklist-header.ng-star-inserted {
  padding: 0.6rem 1rem 0.6rem 1rem;
}

.picklist-headers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.picklist-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.picklist-item ::ng-deep .p-inputnumber-input {
  max-width: 4rem;
}

.picklist-item-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.font-bold {
  font-size: 20px;
  font-weight: bold;
}
